<div ng-controller="peopleCtrl">
    <label>Nom :</label>
    <input type="text" ng-model="name">
    <label>Prénom :</label>
    <input type="text" ng-model="firstname">
    <label>Mail :</label>
    <input type="text" ng-model="mail">
    <button ng-click="add()">Add</button>
    <table>
        <th>Name</th>
        <th>Firstname</th>
        <th>Mail</th>
        <tbody>
            <tr ng-repeat="ligne in tab">
                <td>{{ligne.name}}</td>
                <td>{{ligne.firstname}}</td>
                <td>{{ligne.mail}}</td>
            </tr>
        </tbody>
    </table>
</div>
